$border:solid 4px #D4AF37;
$responsive480:"screen and (max-width: 480px)";
$responsive481:"screen and (max-width: 481px)";
$responsive769:"screen and (max-width: 769px)";
$responsive1280:"screen and (min-width: 1280px)";
$articleBackground:rgba(184, 115, 51, 0.77);
$textShadow:black 1.5px 1.5px 1.5px;
$fontFamilly:"Rye";
$fontsColor:#D4AF37;
$textBackGroungColor:rgba(184, 115, 51, 0.77);